@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: griffter;
  src: url('../public/fonts/611aee5b70cc88187b78993c_GRIFTER\ \(1\).ttf');
}
@font-face {
  font-family: roboto;
  src: url('../public/fonts/6118414011c2b9ef95292ecc_PlusJakartaSans-Medium\ \(1\).ttf');
}
*{
  font-family: roboto;
}